<main class="p-5">
    <div class="container mw-lg">
        <div class="row row-cols-1 gy-3">
            <div *ngIf="invalidApiTokens.length > 0" class="col">
                <h4 class="mb-3">API-Tokens with error</h4>
                <div class="table-responsive mb-5">
                    <table class="table table-secondary table-striped align-middle">
                        <colgroup>
                            <col class="w-auto" />
                            <col class="w-100" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Error</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let entry of invalidApiTokens">
                            <td>{{entry.gw2ApiToken.name}}</td>
                            <td>{{entry.gw2ApiToken.error}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <h4 class="mb-3">Authorized GW2-API Permissions</h4>
                <div class="container-fluid mb-5">
                    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-2">
                        <ng-container *ngFor="let gw2ApiPermission of gw2ApiPermissions">
                            <div class="col">
                                <app-gw2-api-permission-badge [gw2ApiPermission]="gw2ApiPermission" [isPresent]="authorizedGw2ApiPermissions.has(gw2ApiPermission)"></app-gw2-api-permission-badge>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4 class="mb-3">API-Tester</h4>
                <label for="gw2AccountId" class="form-label">API-Token</label>
                <select id="gw2AccountId" class="form-select" name="gw2AccountId" [(ngModel)]="selectedGw2AccountId" [disabled]="isLoading">
                    <option value="" selected>Request without API-Token</option>
                    <option *ngFor="let entry of validApiTokens" [value]="entry.gw2AccountId">{{entry.gw2ApiToken.name}}</option>
                </select>
            </div>
            <div class="col">
                <label for="gw2ApiUrl" class="form-label">URL</label>
                <div class="input-group">
                    <span class="input-group-text">api.guildwars2.com/</span>
                    <div class="w-auto">
                        <select class="form-select" name="gw2ApiVersion" [(ngModel)]="gw2ApiVersion" [disabled]="isLoading">
                            <option value="v1">v1/</option>
                            <option value="v2">v2/</option>
                        </select>
                    </div>
                    <input type="text" class="form-control w-auto" id="gw2ApiUrl" name="gw2ApiUrl" [(ngModel)]="gw2ApiUrl" [disabled]="isLoading" />
                </div>
            </div>
            <div class="col">
                <label for="queryParams" class="form-label">Query Params</label>
                <div id="queryParams" class="container mb-2">
                    <div class="row row-cols-1 row-cols-md-2 g-2">
                        <ng-container *ngFor="let queryParam of queryParams; index as i">
                            <div class="col">
                                <label [htmlFor]="'queryParamName_' + i" class="form-label">Name</label>
                                <input type="text" class="form-control" [id]="'queryParamName_' + i" [name]="'queryParamName_' + i" [(ngModel)]="queryParam.name" [disabled]="isLoading || queryParam.disabled" />
                            </div>
                            <div class="col">
                                <label [htmlFor]="'queryParamValue_' + i" class="form-label">Value</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" [id]="'queryParamValue_' + i" [name]="'queryParamValue_' + i" [(ngModel)]="queryParam.value" [disabled]="isLoading || queryParam.disabled" />
                                    <button type="button" class="btn btn-danger bottom-0" [disabled]="isLoading" (click)="onRemoveQueryParamClick(i)"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="onAddQueryParamClick()">Add</button>
            </div>
            <div class="col">
                <app-button-loadable [loading]="isLoading" [class]="'btn-primary'" (click)="onRequestApiClick()">Request</app-button-loadable>
            </div>
            <div *ngIf="response != null" class="col">
                <label for="response" class="form-label">Response</label>
                <textarea id="response" class="form-control" rows="10" [(ngModel)]="response" disabled></textarea>
            </div>
            <div class="col">
                <h4 class="mb-3">Background refresher</h4>
            </div>
            <div class="col">
                <app-button-loadable [loading]="isLoading" [class]="'btn-primary'" (click)="onBackgroundRefreshClick()">Refresh my authorization in the background</app-button-loadable>
            </div>
        </div>
    </div>
</main>